@font-face {
    font-family:lights;
    src: url('fonts/KerstKaarten.ttf');

}

@font-face {
    font-family:xmas;
    src: url('fonts/KingthingsChristmas.ttf');
}

#example_4 ul li {
  padding-bottom:10px;
  }
  #content {
  padding:15px 20px 15px 10px;
  }
  #jenkins {margin-left: 10px;}

.hero-unit {
  background-image: -webkit-gradient(
  linear,
  right bottom,
  right bottom,
  color-stop(0, #990000),
  color-stop(1, #D10C0C)
);
background-image: -o-linear-gradient(right bottom, #990000 0%, #D10C0C 100%);
background-image: -moz-linear-gradient(right bottom, #990000 0%, #D10C0C 100%);
background-image: -webkit-linear-gradient(right bottom, #990000 0%, #D10C0C 100%);
background-image: -ms-linear-gradient(right bottom, #990000 0%, #D10C0C 100%);
background-image: linear-gradient(to right bottom, #990000 0%, #D10C0C 100%);
}


a {
    color: #5BAD3F;
    text-decoration: none;
}

.hero-unit h1 {
    font-family:'xmas';
    color: white;
    margin-top: 8px;
    font-size:55px;
    font-weight:lighter;

}

.span3 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.span4 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

div#kudos table {
    font-size:14px;
}

.span8 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.navbar {
 font-family:'lights';
  font-size:17px;
  background-image: -webkit-gradient(
  linear,
  left top,
  left top,
  color-stop(0, #C0C0C0),
  color-stop(1, #FFFFFF)
);
background-image: -o-linear-gradient(left top, #C0C0C0 0%, #FFFFFF 100%);
background-image: -moz-linear-gradient(left top, #C0C0C0 0%, #FFFFFF 100%);
background-image: -webkit-linear-gradient(left top, #C0C0C0 0%, #FFFFFF 100%);
background-image: -ms-linear-gradient(left top, #C0C0C0 0%, #FFFFFF 100%);
background-image: linear-gradient(to left top, #C0C0C0 0%, #FFFFFF 100%);!important
color:#daa520;!important
}

.navbar:hover {
    color:#990000;
}

  