#example_4 ul li { 
  padding-bottom:10px;
  }
  #content {
  padding:15px 20px 15px 10px;
  }
  #jenkins {margin-left: 10px;}
.hero-unit {
background-image: -moz-linear-gradient(top left, #5BAD3F 0%, #8CEF29 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #5BAD3F 0%, #8CEF29 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #5BAD3F), color-stop(1, #8CEF29));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #5BAD3F 0%, #8CEF29 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #5BAD3F 0%, #8CEF29 100);
-webkit-border-top-left-radius: 25px;
-webkit-border-bottom-right-radius: 25px;
-moz-border-radius-topleft: 25px;
-moz-border-radius-bottomright: 25px;
border-top-left-radius: 25px;
border-bottom-right-radius: 25px;
border-radius 25px 0px 0px 25px;
}  
a {
    color: #5BAD3F;
    text-decoration: none;
}

.hero-unit h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 8px;
   
}

.span3 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold; 
}

.span4 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold; 
}

div#kudos table {
    font-size:14px;
}

.span8 h3 {
    font-family:  Arial, Helvetica, sans-serif;
    font-weight: bold; 
}   

.navbar .nav li a:focus, .navbar .nav li a:hover {
          color: rgb(184, 184, 184);
          text-decoration: none;
          background-color: transparent;
}
